/* General Font Family */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header container for title + nav tab */
.header-container {
    background-color: #333;
    text-align: center;
}

/* Storyboard title */
.header-container h1 {
    color: white;
    margin: 0;
    font-size: 40px;
    padding: 27px 0;
}

/* Navigation bar inside header container */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    /* light grey border */
    border: 1px solid #ccc;
    /* space between tabs */
    margin: 0 5px;
    /* rounded corners */
    border-radius: 5px;
    background-color: #555;
    /* smooth hover effect */
    transition: 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Container for content */
.container {
    padding: 20px;
}

/* Chart placeholder */
.chart {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}